* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Finger Paint;
    background-color: #f7e8c5;
}



/* für die regretlist */
.regret-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  font-size: 100px;
}


.regret-card {
  background-color: pink;
  border: 3px solid #ff0000;
  border-radius: 8px;
  padding: 20px;
  min-height: 180px;
}

.regret-card h2 { /* binomalName*/
    font-family: Joti One;
  font-size: 22px;
  margin-bottom: 12px;
}

.regret-card p { /* location und lastRecord*/
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 8px;
}

h1 { /* regret list */
  text-align: center;
  padding-top: 25px;
  color: #ff0000;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

#list {
  min-height: 80vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertikal */
  text-align: center;
}

.empty-regret-text { /* no regrets huh? */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: red;
}

